@using HeroicCRM.Web.Helpers
@model HeroicCRM.Web.Models.CustomerViewModel
@{
    var customer = Html.Angular().ModelFor("vm.customer");
}
<div class="panel panel-default">
    <div class="panel-heading">
        @customer.BindingFor(x => x.Name) <a href="" ng-click="vm.edit()"><i class="fa fa-edit"></i></a>
        <div class="pull-right">
            <a class="btn btn-default" href=""
               ng-class="{active: vm.selectedView == 'details'}"
               ng-click="vm.setView('details')">
                <i class="fa fa-user"></i> Info
            </a>
            <a class="btn btn-green" href=""
               ng-class="{active: vm.selectedView == 'wishes'}"
               ng-click="vm.setView('wishes')">
                <i class="fa fa-usd"></i> Wishes
            </a>
            <a class="btn btn-red" href=""
               ng-class="{active: vm.selectedView == 'products'}"
               ng-click="vm.setView('products')">
                <i class="fa fa-exclamation-triangle"></i>Products
            </a>
        </div>
    </div>
    <table class="table" ng-show="vm.selectedView == 'details'">
        <tr>
            <td colspan="4">
                Rate this customer: @(Html.Angular().UIRating("vm.customer.rating")
                                          .NgClick("vm.setRating()")
                                          .Max(10))
            </td>
        </tr>
        <tr class="info text-center" ng-show="@customer.ExpressionFor(x => x.TerminationDate)">
            <td colspan="4">
                Inactive Customer
            </td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>
                Work: @customer.BindingFor(x => x.WorkEmail)<br />
                Home: @customer.BindingFor(x => x.HomeEmail)
            </td>
            <th>Phone</th>
            <td>
                Office: @customer.BindingFor(x => x.WorkPhone)<br />
                Mobile: @customer.BindingFor(x => x.HomePhone)
            </td>
        </tr>
        <tr>
            <th>Work Address</th>
            <td style="white-space: pre">@customer.BindingFor(x => x.WorkAddress)</td>
            <th>Home Address</th>
            <td style="white-space: pre">@customer.BindingFor(x => x.HomeAddress)</td>
        </tr>
    </table>

    <div class="panel-body wish-list" ng-show="vm.selectedView == 'wishes'">
        <div class="row">
            <div class="col-md-1 half">
                <span class="fa fa-2x fa-dollar text-success"></span>
            </div>
            <div class="col-md-11">
                <p ng-show="@customer.ExpressionFor(x => x.Wishes.Count) == 0">There are no wishes for this customer.</p>
                @using (var wish = customer.Repeat(x => x.Wishes, "wish"))
                {
                    <hr ng-hide="$index == 0" />
                    <h3>
                        @wish.BindingFor(x => x.Title)
                    </h3>
                    <p>@wish.BindingFor(x => x.Description)</p>
                }
                <p>
                    <a class="add-btn" href="" ng-click="vm.addWish()">Add a new wish</a>
                </p>
            </div>
        </div>
    </div>
    <div class="panel-body product-list" ng-show="vm.selectedView == 'products'">
        <div class="row">
            <div class="col-md-1 half">
                <span class="fa fa-2x fa-warning text-danger"></span>
            </div>
            <div class="col-md-11">
                <p ng-show="@customer.ExpressionFor(x => x.Products.Count) == 0">There are no products for this customer.</p>
                @using (var product = customer.Repeat(x => x.Products, "product"))
                {
                    <hr ng-hide="$index == 0" />
                    <h3>
                        @product.BindingFor(x => x.Title)
                    </h3>
                    <p>@product.BindingFor(x => x.Description)</p>
                }
                <p>
                    <a class="add-btn" href="" ng-click="vm.addProduct()">Add a new product</a>
                </p>
            </div>
        </div>

    </div>
</div>
